@import url("https://use.typekit.net/ack8qap.css");

body {
  background-color: white;
}
h1,
h2 {
  font-weight: bold;
}
h1 {
  color: #003865;
}

h2,
h3,
p,
a {
  color: #7088ad;
}
.btn--primary {
  background-color: #003865;

  &:hover {
    background-color: #062640;
  }
}

#emailsigform {
  input {
    border: 1px solid #6685a2;
    border-radius: 21px;
    padding: var(--space-xs);
    margin-top: var(--space-xxs);
    margin-bottom: var(--space-sm);
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
  }

  input[type="radio"] {
    // margin: 0;
    // margin-right: var(--space-xs);
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  label {
    color: #003865;
  }

  button {
    width: 100%;
    background-color: #003865;

    &:hover {
      background-color: #062640;
    }
  }
}

button {
  border-radius: 100px !important;
  box-shadow: none !important;
  font-size: 18px !important;
  padding: 1em 2em !important;
  transition: ease all 500ms !important;
}

ul {
  margin-left: 1em;
  list-style-type: disc;

  li {
    margin-bottom: 1em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.instructions {
  font-size: 18px;
}

img {
  max-width: unset;
}

a {
  text-decoration: unset;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 15px;
  display: inline-block;
}
.item0 {
  animation: 1s pulse0 infinite;
  background-color: #00a7c9;
}
.item1 {
  animation: 1s pulse1 infinite;
  background-color: #003865;
}
.item2 {
  animation: 1s pulse2 infinite;
  background-color: #7088ad;
}
@keyframes pulse0 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(2);
  }
  43.3% {
    transform: scale(1);
  }
  76.6% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse1 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  43.3% {
    transform: scale(2);
  }
  76.6% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  43.3% {
    transform: scale(1);
  }
  76.6% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.highlightable {
  cursor: default;
}

.generatedSignature {
  transform: scale(0.7);

  @include breakpoint(md) {
    transform: scale(1);
  }
}
